.section {
  padding: 80px 0;
  background-color: var(--mantine-color-gray-light);
}

.paper {
  background-color: var(--mantine-color-body);
  transition: transform 0.3s ease;
}

.link[data-active="true"] {
  color: #00e0ff;
  font-weight: bold;
}
